# This is an example config file detailing all the optioons used for running the realignment pipeline
[workflow]
name = 'dragen_align_pa'
output_prefix = ""
sequencing_type = "genome"
input_cohorts = [ "COH0000",]
last_stages = ['DownloadDataFromIca']
skip_stages = ['DeleteDataInIca']

# Can be fastq or CRAM, depending on the source of the reads for alignment
reads_type = "fastq"

# used to make sure we don't repeat previously completed stages
check_expected_outputs = true

# the method to register outputs, can be missing - will not generate metamist analysis entries
status_reporter = 'metamist'

[manifest]
filenames = 'filenames'
checksum = 'checksum'
cpg_id = 'cpg_sequencing_group_id'
lane = 'lane'
machine_id = 'machine_id'
flowcell = 'flowcell'
sample_id = 'sample_id'

[images]
# This image contains the entire pipeline code. The version is automatically bumped by bump-my-version (or other version
# incrememt tools), but you may need to change the final -1 suffix to the correct suffix.
ica = "australia-southeast1-docker.pkg.dev/cpg-common/images/dragen_align_pa:3.2.0-1"

# Projects in ICA to run different analyses
[ica.projects]
dragen_align = "main_dragen_project"
dragen_mlr = "mlr_job_project"
dragen_mlr_project_id = "mlr_project_id"

# Flags to manage existing pipeline runs: set the appropriate flag to true and resubmit the job to cancel or resume monitoring.
[ica.management]
cancel_cohort_run = false
monitor_previous = false

# The base folders in ICA where data are uploaded, and Dragen results are written.
# This is automatically prefixed by the dataset and access level, so these values would result in
# cpg-[dataset]-[access_level]/test-cram-upload and cpg-[dataset]-[access_level]/test-dragen-378 when run.
[ica.data_prep]
upload_folder = "test-cram-upload"
output_folder = "test-dragen-378"

# These tags are used in the ICA UI. You can also use the mfor filtering via the API, but I don't do any of that in this pipeline.
[ica.tags]
technical_tags = ['test_technical_tag']
user_tags = ['test_user_tags']
reference_tags = ['test_reference_tags']

[ica.api]
batch_size = 30

# The pipeline ID is from ICA and is specific to the exact pipeline being run. This should not need to be changed.
[ica.pipelines]
analysis_storage_id = "3fab13dd-46e7-4b54-bb34-b80a01a99379"
dragen_version = 'dragen_3_7_8'
# F2 instance CRAM pipeline
cram = 'cbac3d1f-737f-44f2-9a40-f7f2589b5fad'

# F2 instance Fastq pipeline
fastq = '393e2423-3c0d-42f2-aa83-910a48a9c32c'
# Dragen hash table for 3.7.8
dragen_ht_id = 'fil.854d49a151a24edae5d708da2935b1b0'

#md5sum pipeline
md5_pipeline_id = "e767f290-bc60-4281-b11d-6a65c9791253"

# Chunk size for the new streaming MD5 pipeline
[ica.pipelines.md5]
chunk_size = "100"

# IDs for all CRAM references that were previously used to generate the CRAM files that are to be realigned
[ica.cram_references]

# Choice for which CRAM reference to use. Current choices are 'dragmap' or 'gatk'
old_cram_reference = 'dragmap'

# Folder containing reference (bgz with gz suffix) + fai index used to align the CRAM file that you want to realign with Dragen
# Dragmap reference FASTA
dragmap = 'fol.df2129db2c88419cbe0408dd600dce1f'

# Homo_sapiens_assembly38 (unmaksed), used for tob-wgs
# dragmap = 'fol.d45ec3a17cf241f5b61b08dd7c524fb7'

# GATK reference FASTA
gatk = ''

[ica.qc]
cross_cont_vcf = 'fil.1a7a2d0442854127e5d608da2935b1b0'
coverage_region_1 = 'fil.ad60897bc97e4646f28c08da33ba0a20'
coverage_region_2 = 'fil.c4ade57f5ffe4baff28d08da33ba0a20'

[ica.mlr]
config_json = "fil.91c3e63114fc43dc31ed08dde927d6b4"
mlr_hash_table = "ica://ourdna-dragen-mlr-jobs/data/ref/hashtable/hg38_alt_masked_graph_v2/DRAGEN/9"
analysis_instance_tier = "economy"
